<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiheng.erp.system.mapper.SysRoleMapper">

    <resultMap id="roleResultMap" type="com.qiheng.erp.system.domain.entity.SysRole">
        <id column="id" property="id"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="permission_codes" property="permissionCodes"
                typeHandler="com.qiheng.erp.common.handler.JsonStringListTypeHandler"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="selectByPermissionCodes" resultMap="roleResultMap">
        SELECT * FROM sys_role
        WHERE status = 1 AND deleted = 0
          AND (
            <foreach collection="permissionCodes" item="code" separator=" OR ">
                JSON_CONTAINS(permission_codes, CONCAT('&quot;', #{code}, '&quot;'))
            </foreach>
          )
    </select>

</mapper>